@mixin static {
  position: absolute;
  margin: 20px;
  height: 50px; 
  cursor: pointer;
}

@mixin rotate {
  transition: transform 1s linear;  
  transform-style: preserve-3D;
  color: rgb(125, 74, 207);
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  color: rgb(40, 192, 40);
}

h1{
  font-size: 2.75rem;
}

.static-about {
  @include static;
  top: 0%;
  left: 0%;
}

.rotate-about {
  @include rotate;
  transform-origin: bottom left;
  transform: rotate(90deg);
}

.rotate-back-about {
  @include rotate;
  color:rgb(40, 192, 40);
  transform-origin: bottom left;
  transform: rotate(0deg);
}

.static-projects {
  @include static;
  top: 0%;
  right: 0%;
}


.rotate-projects {
  @include rotate;
  transform-origin: bottom right;
  transform: rotate(-90deg);
}

.rotate-back-projects {
  @include rotate;
  color:rgb(40, 192, 40);
  transform-origin: bottom right;
  transform: rotate(0deg);
}

.static-skills {
  @include static;
  bottom: 0%;
  left: 0%;
}

.rotate-skills {
  @include rotate;
  transform-origin: top left;
  transform: rotate(-90deg);
}

.rotate-back-skills {
  @include rotate;
  color:rgb(40, 192, 40);
  transform-origin: top left;
  transform: rotate(0deg);
}

.static-contacts {
  @include static;
  bottom: 0%;
  right: 0%;
}

.rotate-contacts {
  @include rotate;
  transform-origin: top right;
  transform: rotate(90deg);
}

.rotate-back-contacts {
  @include rotate;
  transform-origin: top right;
  color:rgb(40, 192, 40);
  transform: rotate(0deg);
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3rem;
  color:red;
  transform: translateX(-50%) translateY(-50%);
}