@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

$peach: #d88c9a;
$orange: #f2d0a9;
$almond: #f1e3d3;
$opal: #99c1b9;
$purple: #8e7dbe;
$white: #ffffff;
$black: rgb(48, 46, 46);

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

// navbar block start
@mixin static {
  position: fixed;
  margin: 20px;
  cursor: pointer;
  z-index: 5;
  a {
    font-size: 3.25vw;
    font-weight: 700;
  }
}

@mixin rotate {
  transition: transform 0.5s linear;
  transform-style: preserve-3D;
  color: $white;
}

.static-about {
  @include static;
  color: $orange;
  top: 0%;
  left: 0%;
}

.rotate-about {
  @include rotate;
  transform-origin: bottom left;
  transform: rotate(90deg);
}

.rotate-back-about {
  @include rotate;
  color: $orange;
  transform-origin: bottom left;
  transform: rotate(0deg);
}

.static-projects {
  @include static;
  color: $opal;
  top: 0%;
  right: 0%;
}

.rotate-projects {
  @include rotate;
  transform-origin: bottom right;
  transform: rotate(-90deg);
}

.rotate-back-projects {
  @include rotate;
  color: $opal;
  transform-origin: bottom right;
  transform: rotate(0deg);
}

.static-skills {
  @include static;
  color: $peach;
  bottom: 0%;
  left: 0%;
}

.rotate-skills {
  @include rotate;
  transform-origin: top left;
  transform: rotate(-90deg);
}

.rotate-back-skills {
  @include rotate;
  color: $peach;
  transform-origin: top left;
  transform: rotate(0deg);
}

.static-contacts {
  @include static;
  color: $purple;
  bottom: 0%;
  right: 0%;
}

.rotate-contacts {
  @include rotate;
  transform-origin: top right;
  transform: rotate(90deg);
}

.rotate-back-contacts {
  @include rotate;
  transform-origin: top right;
  color: $purple;
  transform: rotate(0deg);
}

#mobile-navbar {
  width: 100vw;
  height: 60px;
  display: flex;
  color: $white;
  background: $peach;
  background: linear-gradient(270deg, $purple 0%, $opal 33%, $peach 66%, $purple 100%); 
  ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    li {
      margin: 0 20px; 
      cursor: pointer;      
    }
    li:hover {
      color: $black;
    }
  }
}

// content block start
#content {
  margin-top: 15vh;
  max-width: 840px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: $almond;
}

#about-me-wrapper {
  padding-top: 10vh;
  font-size: 2.5rem;
  line-height: 3.5rem;
  text-align: center;
  color: $black;
}

#projects-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#project-items {
  max-width: 932px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
}

.project-item {
  background-color: transparent;
  width: 400px;
  height: 400px;
  margin: 50px 5px;
  perspective: 1000px;
  cursor: pointer;
}

.project-item-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.project-item:hover .project-item-inner {
  transform: rotateY(180deg);
}

.project-item-front,
.project-item-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  img {
    max-width: 100%;
    width: 100%;
    height: auto !important;
}
}

.project-item-front {
  outline: 4px solid $almond;
  outline-offset: -4px;
}

.project-item-back {
  background-color: $almond;
  color: $black;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#skills-page-wrapper {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $black;
}

.skills-bar {
  margin: 25px 0px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill-wrapper {
  height: 120px;
  width: 120px;
  margin: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  border: 2px solid grey;
  border-radius: 4px;
  color: grey;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  p {
    font-size: 1.25rem;
  }
}

.skill-wrapper:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.3);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#contacts-page-wrapper {
  padding: 100px 0;
  font-size: 2rem;
  line-height: 3.5rem;
  color: $almond;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  hr {
    width: 50%;
    height: 4px;
    color: $almond;
    background-color: $almond;
  }
}

#social-media-bar {
  width: 60%;
  height: 60px;
  background-color: $purple;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.social-media {
  width: 50px;
  height: 50px;
  position: relative;
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 32px;
    color: $almond;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    background-color: transparent;
    z-index: 2;
  }
}

.social-media:hover {
  cursor: pointer;
}

.spinning-social-media {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 5px solid $purple;
  border-left-color: $almond;
  border-right-color: $almond;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s linear;
  transform-style: preserve-3D;
  z-index: 999;
}

.rotate-social-media {
  transform: rotate(180deg);
}
// content block end

@media (min-width: 992px) and (max-width: 1199.98px) {
  #project-items{
    transform: scale(0.8);
  } 
  #skills-page-wrapper{
    max-width: 640px;
  }
}

@media (min-width: 480px) and (max-width: 991px) {
  #content {
    margin-top: 2vh;
    font-size: 1.5rem;
  }
  #projects-wrapper {
    text-align: center;
    h2 {
      padding: 5px;
    }
    .project-item {
      transform: scale(0.75);
      margin: 10px 0px;
    }
  }
  #skills-page-wrapper {
    text-align: center;    
  }
}

@media (max-width: 479px) {
  #content {
    margin-top: 2vh;
    font-size: 1.25rem;
  }
  #about-me-wrapper {
    font-size: 1.5rem;
  }
  #projects-wrapper {
    text-align: center;
    max-width: 100vw;
    h2 {
      padding: 5px;
    }
    .project-item {
      transform: scale(0.75);
      margin: 0px; 
      width: 300px;
      height: 300px;
      img {
        max-width: 100%;
        max-height: 100%;
    }
    }
  }  

  #skills-page-wrapper {
    text-align: center;
    max-width: 90vw;
    .skill-wrapper {
      height: 90px;
      width: 90px; 
      margin: 6px;     
      P {
        font-size: 1rem;
      }
      img {
        max-width: 70%;
        max-height: 70%;
    }
    }
  }

  #contacts-page-wrapper {
    font-size: 1.5rem;
    #social-media-bar {
      width: 80%;
      justify-content: space-between;
    }
  }
}

