@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

// navbar block start
@mixin static {
  position: fixed;
  margin: 20px;
  cursor: pointer;
  z-index: 5;
  color: rgb(40, 192, 40);
  a {
    font-size: 3.5vw;
    font-weight: 700;
  }
}

@mixin rotate {
  transition: transform 0.5s linear;
  transform-style: preserve-3D;
  color: rgb(125, 74, 207);
}

.static-about {
  @include static;
  top: 0%;
  left: 0%;
}

.rotate-about {
  @include rotate;
  transform-origin: bottom left;
  transform: rotate(90deg);
}

.rotate-back-about {
  @include rotate;
  color: rgb(40, 192, 40);
  transform-origin: bottom left;
  transform: rotate(0deg);
}

.static-projects {
  @include static;
  top: 0%;
  right: 0%;
}

.rotate-projects {
  @include rotate;
  transform-origin: bottom right;
  transform: rotate(-90deg);
}

.rotate-back-projects {
  @include rotate;
  color: rgb(40, 192, 40);
  transform-origin: bottom right;
  transform: rotate(0deg);
}

.static-skills {
  @include static;
  bottom: 0%;
  left: 0%;
}

.rotate-skills {
  @include rotate;
  transform-origin: top left;
  transform: rotate(-90deg);
}

.rotate-back-skills {
  @include rotate;
  color: rgb(40, 192, 40);
  transform-origin: top left;
  transform: rotate(0deg);
}

.static-contacts {
  @include static;
  bottom: 0%;
  right: 0%;
}

.rotate-contacts {
  @include rotate;
  transform-origin: top right;
  transform: rotate(90deg);
}

.rotate-back-contacts {
  @include rotate;
  transform-origin: top right;
  color: rgb(40, 192, 40);
  transform: rotate(0deg);
}
// navbar block end




#content {
  margin-top: 20vh;
  max-width: 840px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  border: 2px solid red;
}

#about-me-wrapper {
  padding: 100px 0;
  font-size: 2rem;
  line-height: 3.5rem;
  text-align: center;
}

#projects-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#project-items {
  max-width: 932px;
  margin: 0 auto;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
}

.project-item {
  background-color: transparent;
  width: 400px;
  height: 400px;
  margin: 50px 5px;
  perspective: 1000px;
  cursor: pointer;
}

.project-item-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.project-item:hover .project-item-inner {
  transform: rotateY(180deg);
}

.project-item-front,
.project-item-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.project-item-front {
  background-color: #bbb;
  color: rgb(65, 54, 54);
}

.project-item-back {
  background-color: #00be56;
  color: white;
  transform: rotateY(180deg);
}

#social-media-bar {
  width: 100%;
  height: 60px;
  background-color: #d4eedf;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.social-media {
  width: 50px;
  height: 50px;
  position: relative;
}

.spinning-social-media {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 5px solid rgba(29, 161, 242, 0.2);
  border-left-color: rgb(21, 22, 43);
  border-right-color: rgb(21, 22, 43);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s linear;
  transform-style: preserve-3D;
  z-index: 999;
}

i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 32px;
  color: rgb(21, 22, 43);
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  background-color: transparent;
  z-index: 2;
}

.rotate-social-media {
  transform: rotate(180deg);
}

#skills-page-wrapper {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-bar{
  margin: 25px 0px;
  border: 2px solid #00be56;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill-wrapper {
  height: 120px;
  width: 120px;
  margin: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  border: 2px solid grey;
  border-radius: 4px;
  color: grey;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  p {
    font-size: 1.25rem;
  }
}

.skill-wrapper:hover {
  color:rgb(0, 0, 0);
  transform: scale(1.3);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

