* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

body {
  color: #28c028; }

.static-about {
  position: absolute;
  margin: 20px;
  cursor: pointer;
  z-index: 999;
  font-size: 1.75vw;
  top: 0%;
  left: 0%; }

.rotate-about {
  transition: transform 0.5s linear;
  transform-style: preserve-3D;
  color: #7d4acf;
  transform-origin: bottom left;
  transform: rotate(90deg); }

.rotate-back-about {
  transition: transform 0.5s linear;
  transform-style: preserve-3D;
  color: #7d4acf;
  color: #28c028;
  transform-origin: bottom left;
  transform: rotate(0deg); }

.static-projects {
  position: absolute;
  margin: 20px;
  cursor: pointer;
  z-index: 999;
  font-size: 1.75vw;
  top: 0%;
  right: 0%; }

.rotate-projects {
  transition: transform 0.5s linear;
  transform-style: preserve-3D;
  color: #7d4acf;
  transform-origin: bottom right;
  transform: rotate(-90deg); }

.rotate-back-projects {
  transition: transform 0.5s linear;
  transform-style: preserve-3D;
  color: #7d4acf;
  color: #28c028;
  transform-origin: bottom right;
  transform: rotate(0deg); }

.static-skills {
  position: absolute;
  margin: 20px;
  cursor: pointer;
  z-index: 999;
  font-size: 1.75vw;
  bottom: 0%;
  left: 0%; }

.rotate-skills {
  transition: transform 0.5s linear;
  transform-style: preserve-3D;
  color: #7d4acf;
  transform-origin: top left;
  transform: rotate(-90deg); }

.rotate-back-skills {
  transition: transform 0.5s linear;
  transform-style: preserve-3D;
  color: #7d4acf;
  color: #28c028;
  transform-origin: top left;
  transform: rotate(0deg); }

.static-contacts {
  position: absolute;
  margin: 20px;
  cursor: pointer;
  z-index: 999;
  font-size: 1.75vw;
  bottom: 0%;
  right: 0%; }

.rotate-contacts {
  transition: transform 0.5s linear;
  transform-style: preserve-3D;
  color: #7d4acf;
  transform-origin: top right;
  transform: rotate(90deg); }

.rotate-back-contacts {
  transition: transform 0.5s linear;
  transform-style: preserve-3D;
  color: #7d4acf;
  transform-origin: top right;
  color: #28c028;
  transform: rotate(0deg); }

#content {
  position: absolute;
  top: 20%;
  right: 20%;
  left: 20%;
  font-size: 2rem;
  color: black; }
